.AboutUs {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  height: 600px;
  margin-bottom: 1rem;
  .avt {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    opacity: 0.9;
  }
  .avt:hover {
    opacity: 1;
  }
}
