
.Section {
  .Content {
    width: 100%;
    display: flex;
    padding: 200 120 100 120;
    
    .ContentRight {
      width: 30%;
      .Logo2 {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .Logo2 {
    display: none;
  }
}
