.Section {
  display: flex;
  justify-content: center;
  height: 500px;

  .Content {
    //margin-top: 10px;
    .info_song {
      font-family: "Arial Narrow Bold", sans-serif;
      justify-content: center;
      .info {
        display: flex;
        .songs {
          display: inline-block;
          font-family: cursive;
          .song {
            // background-color: aqua;
            font-size: 35px;
            color: #445964;
            text-align: center;
            padding: 24px 0px;
            overflow: clip;
            height: 80px;
            font-weight: 900;
          }
          .sub_song_name0 {
            font-size: 45px;
            color: #445964;
            font-weight: 900;
            text-align: center;
            padding: 24px 0px;
            overflow: clip;
            height: 100px;
          }
          .sub_song_name1 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 900;
            color: #445964;
            font-size: 35px;
          }
          .sub_song_name2 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 900;
            color: #445964;
            font-size: 30px;
          }
          .sub_song_name3 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 900;
            color: #445964;
            font-size: 25px;
          }
          .sub_song_name4 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 900;
            color: #445964;
            font-size: 25px;
          }
        }
        .artists {
          display: inline-block;
          font-family: monospace;
          .artist {
            // background-color: aqua;
            font-size: 35px;
            color: #445964;
            font-weight: 250;
            text-align: center;
            padding: 24px 0px;
            overflow: clip;
            height: 80px;
          }
          .sub_artist_name0 {
            font-size: 45px;
            color: #445964;
            font-weight: 250;
            text-align: center;
            padding: 24px 0px;
            overflow: clip;
            height: 100px;
          }
          .sub_artist_name1 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 250;
            color: #445964;
            font-size: 35px;
          }
          .sub_artist_name2 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 250;
            color: #445964;
            font-size: 30px;
          }
          .sub_artist_name3 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 250;
            color: #445964;
            font-size: 25px;
          }
          .sub_artist_name4 {
            padding: 24px 0px;
            overflow: clip;
            height: 70px;

            text-align: center;
            font-weight: 250;
            color: #445964;
            font-size: 25px;
          }
        }
      }
    }
    .UploadFile {
      flex-direction: row;
      align-items: center;
      .Label1 {
        background-color: rgba(160, 167, 171, 1);
        color: #445964;
        border-radius: 10px;
        max-width: 100%;
        height: 40px;
        border: none;
        padding: 8px;
        margin: 0 10px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        overflow: clip;
      }
      .Button1 {
        background-color: rgba(38, 49, 56, 1);
        color: #fff;
        border-radius: 10px;
        max-width: 100%;
        height: 40px;
        margin: 0 10px;
        padding: 5px;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
      }
      .Button2 {
        background-color: #000;
        color: #47df96;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .image_avt {
    width: 30%;
    margin-top: 60px;
  }
}

/* PC*/
@media (min-width: 1024px) {
  .Section {
    width: 100%;
    .Content {
      width: 70%;
      .info_song {
        width: 100%;
        display: flex;
        .info {
          width: 100%;
          .songs {
            width: 50%;
          }
          .artists {
            width: 50%;
          }
        }
      }
      .UploadFile {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        .Label1 {
          width: 45%;
          margin: 0 30px;
        }
        .Button1 {
          width: 45%;
          margin: 0 30px;
        }
        .Button2 {
          width: 10%;
          margin: 0 30px;
          width: 120px;
          height: 40px;
        }
      }
    }
    .image_avt {
    }
  }
}

/* tablet*/
@media (min-width: 740px) and (max-width: 1024px) {
  .Section {
    display: block;
    width: 100%;
    .Content {
      width: 100%;
      .info_song {
        display: block;
        .info {
          justify-content: center;
          width: 100%;
          .songs {
            width: 50%;
          }
          .artists {
            width: 50%;
          }
        }
      }
      .UploadFile {
        display: grid;
        justify-content: center;
        .Label1 {
          margin-bottom: 16px;
          margin-top: 20px;
          max-width: 100%;
        }
        .Button1 {
          margin-bottom: 32px;
          margin-top: 16px;
          // padding-left: 89px;
          max-width: 100%;
        }
        .Button2 {
          width: 20%;
          height: 40px;
          margin-left: 40%;
        }
      }
    }
    .image_avt {
      // display: none;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
    }
  }
}
/* mobile*/
@media (max-width: 740px) {
  .Section {
    display: block;
    width: 100%;
    .Content {
      width: 100%;
      .info_song {
        display: block;
        .info {
          justify-content: center;
          width: 100%;
          .songs {
            width: 50%;
          }
          .artists {
            width: 50%;
          }
        }
      }
      .UploadFile {
        display: grid;
        justify-content: center;
        .Label1 {
          margin-bottom: 16px;
          margin-top: 20px;
          max-width: 100%;
        }
        .Button1 {
          margin-bottom: 32px;
          margin-top: 16px;
          // padding-left: 89px;
          max-width: 100%;
        }
        .Button2 {
          width: 30%;
          height: 40px;
          margin-left: 35%;
        }
      }
    }
    .image_avt {
      // display: none;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
    }
  }
}
